*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

:root {
    --accent: #556ff6;
    --black: #242424;
    --gray: #e0e0e0;
}

body {
    min-height: 100vh;
}

section {
    min-width: 100%;
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#properties-title {
    margin-top: 100px;
}
#faq-title {
    margin-top: 100px;
}

#about-title{
    margin-top: 100px;
}

// Navbar
header.sticky{
    background: white;
    border-bottom: 2px rgba(0,0,0,00.548) solid;
    padding: 15px 100px;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-bottom: 1px rgba(0,0,0,0) solid;
    transition: all 0.5s ease-in-out;

    .brand {
        color: var(--black);
        font-size: 30px;
        font-weight: 700;
        text-decoration: none;
        letter-spacing: 2px;
        transition: all 0.5s ease-in-out;
        &:hover {
        color: var(--accent);
        }
    }

    .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    

        a {
            color: var(--black);
            font-size: 24px;
            font-weight: 500;
            text-decoration: none;
            margin: 0 20px;
            padding: 0 10px;
            position: relative;
            transition: color 0.3s ease-in-out;
        }

         & a::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0px;
                width: 100%;
                height: 4px;
                background-color: var(--accent);
                transform: scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            & a:hover {
            color: var(--accent);
    
                &::before{
                transform: scaleX(1);
            }       
         }
    }
    .btn {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        display: none;
    }
    
}
    .btn-2 {
        align-items: center;
        background-color: var(--accent);
        border: 2px solid #06f;
        border-radius: 32px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;


        &:focus {
        color: #171e29;
    }

        &:hover,
        &:active{
            background-color: #3385ff;
            border: #3385ff;
            fill: #06f;
        }
    }
    

// hero pages   
.hero-page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}
    
    .hero-page-headlines {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-slogan {
        font-size: 16px;
        font-weight: 300;
        border: 1px solid var(--black);
        border-radius: 32px;
        padding: 16px;
        margin: 24px 0px;
        align-self: center;
    }

    #hero-title {
        font-size: 64px;
        width: 1344px;
        margin-bottom: 14px;
        transform: translateZ(0);
        font-weight: 700;
    }

    #hero-description {
        font-size: 20px;
        width: 1217px;
        font-weight: 300;
    }

    .hero-page-headlines div {
        margin-top: 32px;
        margin-bottom: 50px;
    }

    .btn-heropage {
        width: 170px;
    }

    .btn-transparent {
        background-color: transparent;
        color: var(--black);
        border: 1px solid var(--black);
    
        &:hover {
            background-color: var(--black);
            color: white;
            border: 2px solid white;
         }
        }
    

    .hero-page-imgs {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

.collab {
        width: 100%;
        height: 186px;
        background-color: var(--accent);
        display: flex;
        flex-direction: row;
        gap: 170px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
}

.simpleParallax {
        border-radius: 32px;
}

// about section

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 34px;
}

.about-imgs{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 32px;

    & h1 {
        font-size: 46px;
        font-weight: 600
    }

}

.about-headlines {
    display: flex;
    flex-direction: column;
    margin-top: 180px;

    & h2 {
        font-size: 48px;
        width: 641px;
        margin-bottom: 28px;
        font-weight: 600;
        line-height: 55px;
    }

    & p {
        font-size: 32px;
        width: 647px;
        opacity:0.7 ;
        margin-bottom: 68px;
        line-height: 38px;        
    }

}

.about-projects {
    display: flex;
    flex-direction: column;
    gap: 18px;
    line-height: 30px;

    & div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        line-height: 40px;
        
        & h4 {
            font-size: 36px;
            font-weight: 400;
            margin-bottom:0px;
            margin-top: 0%;
        }

        & hr {
            flex-grow: 1;
            border: 1px var(--accent) solid;
        }

    }

    & h5 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 8px;
    }

    & p {
        font-size: 24px;
        font-weight: 400;
        opacity: 0.5;
        line-height: 30px;
        margin-bottom: 70px;
    }
}

// Services Section

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

   & h1 {
    font-size: 48px;
    font-weight: 400;
   }
   
   & p {
        font-size: 24px;
        opacity: 0.7;
   }
}

.services-boxes {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    gap: 24px;

    & a{
        text-decoration-line: none;
    }
}

.services-box {
    background-color: var(--gray);
    width: 450px;
    padding: 30px;
    height: 380px;
    border-radius: 32px;
    transition: all 0.5s ease-in-out;
    color: var(--black);
    
    &:hover {
        color: white;

        & #arrow-logo {
            opacity: 1;
            transform: translateX(10px);
        }
    }

    & h4 {
        font-size: 32px;
        font-weight: 500;
        margin: 24px 0px 5px 0px;
    }
}

.service-buy:hover {
    background-color: var(--accent);
}

.service-sell:hover {
    background-color: #8955f6;
}

.service-rent:hover {
    background-color: #f68f55;
}

#service-logo {
    font-size: 32px;
}

#arrow-logo {
    font-size: 24px;
    margin-top: 32px;
    position: relative;
    left: 85%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: white;
}

// Properties section
// Propiedades de la sección de propiedades
.properties {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        font-size: 48px;

        & b{
            color: var(--accent);
        }
    }

    & p {
        font-size: 24px;
        opacity: 0.7;
        margin-top: 8px;
    }
}

// Estilos para Swiper
.swiper {
    width: 600px;
    height: 100px;
}

.swiper-custom-nav {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.swiper-custom-nav-prev,
.swiper-custom-nav-next{
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 32px;
    padding: 8px 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--accent);
        color: white;
        border: 1px solid var(--accent);
    }
}

.swiper {
    width: 89%;
    height: 600px;
    padding: 34px;
    margin: 20px 50px 0;
}
// Estilos para las propiedades individuales
.property{ 
    position: relative;
    width: 450px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.27);
    transition: all 0.5s ease-in-out;
  // Efecto hover
    &:hover {
        box-shadow: 0 6px 10px rgba(0,0,0,0.602);
    }
// Estilo de la imagen de la propiedad
    & img {
        width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
        border-radius: 32px;
    }
}
// Estilos para la superposición de las propiedades
.overlay{
    // Estilos de superposición...
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    background: linear-gradient(to bottom, transparent, rgb(56, 55, 55));
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    box-sizing: border-box;
    color: white;
    border-radius: 0px 0px 30px 30px;
    z-index: 5;

    &:hover {
    background: linear-gradient(to bottom, transparent, black);
    }
}

.property-stats {
    display: flex;
    flex-direction: row;
    z-index: 10;
    align-items: center;
    gap: 50px;
}

.property-name{
    & h6 {
        font-size: 24px;
        font-weight: 400;
    }
    & p {
        font-size: 16px;
        font-weight: 300;
        margin-top: 0px;
    }
}
// Estilos para los botones de las propiedades
.btn-property {
    border: 1px solid white;
    color: white;
    font-weight: 300;
}

.swiper-custom-nav {
    margin-top: 90px;
}

// FAQ section

.faq {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.faq-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: end;

    & a {
        text-decoration: none;
    }

    & h2 {
        font-size: 48px;
        font-weight: 500;
        width: 550px;
    }
}

.ask-more {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 16px;
    border: 1px var(--black) solid;
    border-radius: 32px;
    background-color: white;
    color: var(--black);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
        color: white;
        border: 1px var(--accent) solid;
    }
}

.container {
    width: 100%;
    margin-top: 20px;
}

.accordion-item {
    background-color: white;
    border-radius: 0.4rem;
    margin-top: 30px;

    & hr {
        border: 1px solid rgba(255,255,255,0.5);
    }

}

.accordion-item:hover .accordion-link h3 {
    transform:translateX(4px) ;
    color: var(--accent);
}

.accordion-link {
    color: var(--black);
    text-decoration: none;
    background-color: white;
    border-bottom: 1px var(--black) solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    & h3 {
        font-weight: 500;
        font-size: 24px;
        transition: all 0.2s ease-in-out;
        color: var(--black);
    }

    & i {
        color: var(--black);
        padding: 0.5rem;
        transition: all 0.5s ease-in-out
    }

    & ul {
        display: flex;
        align-items: flex-end;
        list-style-type: none;
        margin-left: 25px;
    }

    & li {
        font-size: 10px;
        color: rgba(255,255,255,0.4);
        padding: 0 0 1px 5px;
    }

    & div {
        display: flex;
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background: linear-gradient(-45deg, var(--accent), #89a4f9, #1e4ae8);
    background-size: 400% 400%;
    border-radius: 0px 0px 15px 15px;

    & p {
        color: #fff;
        font-size: 20px;
        padding: 2rem;
    }
}

@keyframes gradient {
    0% {
        background-position:  0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.accordion-item:target .answer {
    max-width: 20rem;
}

// TESTIMONIALS section

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin-top: 90px;
    margin-bottom: 40px;

    & b {
        color: var(--accent);
    }

    & h1 {
        font-size: 48px;
    }

    & h6{
        font-size: 24px;
        font-weight: 400;
        opacity: 70%;
        margin-top: 54px;
    }
}

    .testimony {
        background-color: var(--gray);
        width: 450px;
        height: 450px;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        padding: 50px;

        & i {
            font-size: 64px;
            margin-bottom: 24px;
        }

        & p {
            font-size: 24px;
            margin-bottom: 32px;
        }
    }
.testimony-people {
    & p {
    margin-bottom: 0px;
    }
    & span {
        opacity: 0.7;
    }
}

.testimonial-nav {
    justify-content: space-between;
    top: 95%;
}

// footer section

.footer {
    display: flex;
    flex-direction: column;
}

.contact-callout {
    height: 280px;
    background: linear-gradient(-45deg, var(--accent), #89a4f9, #1e4ae8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 
    transition: all 650ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

    & h4 {
        font-size: 32px;
        width: 838px;
        margin-bottom: 4px;
    }

    & p {
        opacity: 90%;
        margin-bottom: 32px;
        font-size: 20px;
    }
}

.btn-callout {
    background-color: white;
    border: 1px solid white;
    color: var(--black);
    transition: 0.1s ease-in all;

    &:hover {
        background-color: var(--black);
        color: white;
    }
}

.bottom-footer{
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & h4 {
        font-size: 24px;
        color: var(--black);
        transition: 0.3s all ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }

    & a {
        text-decoration: none;
    }

    & div p {
        font-size: 20px;
        color: var(--black);
        font-weight: 600;
        line-height: 25px;
    }
}

.footer-nav {
    display: flex;
}

.footer-links-container {
    display: flex;
    gap: 24px;
    margin-right: 48px;
}

.footer-links {
    padding: 0px 30px;

    & h4 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 22px;
    }
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & a {
        font-size: 20px;
        text-decoration: none;
        color: var(--black);
        opacity: 70%;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }
}

.discounts {
    & h4 {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    }

    & form {
        display: flex;
        justify-content: space-between;
        align-items: end;

        & input {
            border: none;
            border-bottom: 1px solid var(--black);
            height: 30px;
            flex-grow: 1;

            &:focus {
                outline: none;
            }
        }
    }
}

.btn-submit {
    font-size: 16px;
    width: 100px;
}

.socials {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    font-size: 32px;

    & a {
        color: var(--black);
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }
}

// Corrección 1: Anidamiento moderado de clases para mantener la legibilidad
.service-page {
    display: flex;
    flex-direction: column;
    margin: 150px 50px 0;

    &-title {
        display: flex;
        justify-content: space-between;
        align-items: end;

        & h1 {
            font-size: 48px;
            width: 909px;
            font-weight: 700;
        }

        & p {
            font-size: 24px;
            width: 730px;
            text-align: justify;
            text-justify: inter-word;
            opacity: 0.7;
        }
    }
}

// Corrección 2: Agrupación de propiedades comunes en clases de utilidad

.service-page-container {
    display: flex;
    flex-direction: column;
}

.service-features {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.service-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-stat {
    margin-bottom: 50px;

    & div {
        display: flex;
        gap: 20px;
        align-items: end;
        margin-bottom: 14px;

        & i {
            font-size: 32px;
            color: var(--accent);
        }

        & h4 {
            font-size: 32px;
            font-weight: normal;
        }
    }

    & p {
        font-size: 24px;
        opacity: 0.9;
        text-align: justify;
        text-justify: inter-word;
    }
}

// Corrección 3: Uso de medidas relativas en lugar de absolutas
.service-features img {
    height: 505px;
    width: 1200px;
    position: relative;
}

// Property Page

.property-page {
    display: flex;
    flex-direction: column;
    margin-top: 150px;

    &-callout {
        margin: 0px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(181deg, #080818, rgba(67, 67, 92, 0.604));
        background-size: 400% 400%;
        animation: gradientProperty 2s ease infinite;
        color: rgb(204, 204, 204);
        height: 270px;
        border-radius:32px;
        border: none;
    }
}

    @keyframes gradientProperty {
        0% {
            background-position: 0% 56%;
        }

        50% {
            background-position: 100% 45%;
        }

        100% {
            background-position: 0% 56%;
        }
    }

.property-page-callout h1 {
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 14px;
}

.btn-page-property {
    margin-top:  24px;
    border-radius: 12px;
    width: 200px;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    border: 1px white solid;

    &:hover {
        color: white;
        background-color: black;
        width: 230px;
        border: 1px white solid;
    }
}

.property-page-intro {
    display: flex;
    margin: 30px 100px;
    gap: 30px;
}

.property-page-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    color: white;
    padding: 48px 64px;
    background: linear-gradient(-45deg,var(--accent), #89a4f9, #1e4ae8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 650px;
    border-radius: 32px;
}

.property-page-img {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    & img {
        height: auto;
        object-fit: cover;
        flex: 1;
        max-width: 100%;
        border-radius: 32px;
    }
}

.property-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent, black);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    z-index: 10;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.property-page-stat {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    & h2{
        font-size: 48px;
    }

    & div h4 {
        font-weight: 500;
        font-size: 32px;
    }
}

.property-page-rooms {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0px 100px 30px 100px;
}

// contact page

.contact {
    display: flex;
    flex-direction: column;
    margin: 120px 100px 0 100px;
}

.contact-headline {
    align-self: center;
    text-align: center;

    & h1 {
        font-size: 32px;
    }

    & p {
        opacity: 0.7;
    }
}

.contact-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 24px 0;

    & form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        
        & input {
            width: 700px;
            height: 60px;
            border: none;
            border-bottom: 1px solid var(--black);
            font-size: 24px;
        } 
        textarea {
            width: 700px;
            height: 60px;
            border: none;
            border-bottom: 1px solid var(--black);
            font-size: 24px;
            height: none;
        }
    }   
}

.contact-content form input:focus,
.contact-content form textarea:focus {
    outline: none;
}

.contact-content img {
    height: 100%;
    width: 600px;
}




